{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Czechitas</title>
    <style>
        h1,h2,h3,p {
            text-align: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }
        .create-car{
            padding: 0 10%;
            text-align: center;
        }
    </style>
</head>
<body>
{% url 'cars' as cars %}
{% url 'loans' as loans %}
{% url 'customers' as customers %}
{% url 'index' as home %}

<p style="text-align: center">
    <a href="{{ home }}">Home</a> |
    <a href="{{ cars }}">Cars</a> |
    <a href="{{ loans }}">Loans</a> |
    <a href="{{ customers }}">Customers</a>
</p>

{% block content %}
{% endblock %}
</body>
</html>