{% extends "base.html" %}

{% block content %}

<h1>Cars</h1>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Driver license</th>
        <th>Date of birth</th>
        <th>Program</th>
    </tr>
    {% for c in object_list %}
    <tr>
        <td> {{ c.first_name }}</td>
        <td> {{ c.last_name }}</td>
        <td> {{ c.driver_license_number }} Kč</td>
        <td> {{ c.date_of_birth }}</td>
        <td> {{ c.program }}</td>

    </tr>
    {% empty %}
    <tr>
        <td> -</td>
        <td> -</td>
        <td> - Kč</td>
        <td> -</td>
        <td> -</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}