{% extends "base.html" %}

{% block content %}

<h1>Customers</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Driver license</th>
        <th>Date of birth</th>
        <th>Program</th>
    </tr>
    {% for c in object_list %}
    <tr>
        <td> <a href="{% url 'customer_detail' c.pk %}">{{ c.first_name }} {{ c.last_name }}</a></td>
        <td> {{ c.driver_license_number }}</td>
        <td> {{ c.date_of_birth }}</td>
        <td> {{ c.program }}</td>

    </tr>
    {% empty %}
    <tr>
        <td> -</td>
        <td> -</td>
        <td> - Kč</td>
        <td> -</td>
        <td> -</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}