{% extends "base.html" %}

{% block content %}

<h1>Loans</h1>
<h3>Want to add loan?</h2>
    <p>You can do it <a href="{% url 'create_loan' %}">here</a></p>
    <br>
<table>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Price</th>
        <th>Car</th>
        <th>Customer</th>
        <th>State</th>
        <th>Detail</th>
    </tr>
    {% for record in object_list %}
    <tr>
        <td> {{ record.start }}</td>
        <td> {{ record.end }}</td>
        <td> {{ record.price }} Kč</td>
        <td> {{ record.car }}</td>
        <td> {{ record.customer }}</td>
        <td>{{record.state}}</td>
        <td><a href="{% url 'loan_detail' record.pk %}">link</a></td>
    </tr>
    {% empty %}
    <tr>
        <td> - </td>
        <td> - </td>
        <td> - Kč</td>
        <td> - </td>
        <td> - </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}